@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Azeret Mono;
}

nav li {
    display: inline;
}

header > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 155px;
}

nav{
    padding: 30px;
    align-items: center;
}

nav li p{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}

nav li button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;

}

nav li button:hover{
    cursor: pointer;
}


#home{
    height: 652px;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .home{
    text-align: center;
    width: 998px;
}

.home h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}

.home p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.home .btn button{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    margin: 32px 0px;
    background: rgb(13, 19, 33);
    border: none;
}

.home .btn button:hover{
    cursor: pointer;
}


/* Contact section  */

.contact{
    height: 313px;
    width: 1140px;
    background-image: url('assets/handshake.jpg');  /*Need to add shadow*/ 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 80px;
    border-radius: 16px;
}


#contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.support{
    text-align: center;
    height: 185px;
    margin: 32px 0px;
}

.support h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;
}

.support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 0 24px;;
}

.support input[type="text"]{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    padding: 19px 20px 19px 20px;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 400;
}

.support input[type="submit"]{
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
}

.support input[type="submit"]:hover{
    cursor: pointer;
}




/* Footer section */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

footer p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

